<ion-header>
  <ion-toolbar>
   <ion-title color="warning">ALUMNO</ion-title>
  </ion-toolbar>
</ion-header>
<ion-list-header>
  <br>
  <ion-label class="lbl">Utiliza tu camara para escanear</ion-label>
  <br><br>
</ion-list-header>
<ion-content>
  <ion-button expand="full" shape="round" size="large" color="warning">
    <ion-icon slot="icon-only"name="camera-outline" size="large"></ion-icon>
  </ion-button>
  <br><br><br><br><br><br><br><br><br><br><br><br>
  <ion-button expand="full" shape="round" size="large" color="warning" fill="outline" routerLink="">
    Cerrar Sesión
  </ion-button>
</ion-content>